main{
    flex: 1;
    width: 100%;
    max-width: 1440px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_info{
    width: 100%;
    max-width: 570px;
}
.main_info p{
    font-size: 18px;
}